* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	text-align: center;
	font-family: 'Lato', sans-serif;
}

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: start;
	/* height: 100vh; */
	width: 90%;
	margin: 0 auto;
	text-align: center;
	/* height: 900px; */
}

.title {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.5px;
	font-size: 36px;
	font-weight: 800;
	text-align: left;
	padding: 40px 40px 10px 40px;
    text-transform: uppercase;
    color: rgb(65, 65, 65);
}

.sub-title {
	font-size: 18px;
	font-weight: 400;
	text-align: left;
    padding: 0px 40px 10px 42px;
    color: rgb(110, 110, 110);
}

.header {
	height: 20%;
	/* background-color: gray; */
}

.separator, .footer-separator {
	height: 2px;
	margin: 10px 0 0 40px;
	background-color: rgb(120, 120, 120);
	/* broder: 1px solid gray; */
	width: 90%;
}

.sub-container {
	display: flex;
	justify-content: center;
	/* height: 100%; */
	/* width: 80%; */
	height: 80%;
}

.table-container {
	width: 25%;
	/* background-color: bisque; */
	padding: 40px;
}

.table-title {
	font-size: 20px;
	text-align: left;
	margin-bottom: 20px;
}

table {
	display: block;
	overflow: auto;
	height: 500px;
	border-collapse: collapse;
	/* table-layout: fixed; */
}

table td {
	text-align: left;
	padding: 0 5px 0 5px;
	height: 40px;
	border-bottom: 1px solid rgb(199, 199, 199);
	border-collapse: collapse;
}

table tr:hover {
	background-color: rgb(206, 206, 206);
	cursor: pointer;
}

table tr.selected {
	background-color: rgb(206, 206, 206);
}

table td:nth-child(1) {
	text-align: left;
	width: 80%;
	font-weight: 300;
	font-size: 16px;

	/* border-spacing: 0; */
}

table td:nth-child(2) {
	font-size: 20px;
	font-weight: bold;
	text-align: right;
	padding-left: 60px;
	/* border-spacing: 0; */
}

.chart-container {
	width: 80%;
	/* background-color: beige; */
}

.title-food {
	font-weight: bold;
}

.chart-title {
	text-align: left;
	margin-top: 40px;
	margin-left: 40px;
	/* margin-bottom: 10px; */
	font-size: 24px;
	font-weight: 300;
}

.x-axis {
	font-size: 16px;
	font-weight: 500;
	color: rgb(85, 85, 85);
}

.x-axis path,
.x-axis line {
	stroke: none;
}

.y-axis {
	font-size: 16px;
	font-weight: 600;
	color: #666;
}

.y-axis path {
	stroke: none;
}

.y-axis .tick line {
	stroke: #aaa;
	stroke-width: 0.5px;
	stroke-dasharray: 2px;
	shape-rendering: crispEdges;
}

.y-axis .tick text {
	font-weight: 100;
	font-size: 14px;
	color: rgb(130, 130, 130);
}

.labels {
	text-anchor: middle;
	font-size: 20px;
	font-weight: bold;
}


.footer {
    width: 90%;
    font-size: 12px;
    color: rgb(160, 160, 160);
    text-align: left;
    padding: 10px 40px 10px 40px;
}

.footer .notes {
    padding-top: 5px;
}

.footer .footer-pipe {
    padding: 0px 10px 0 10px;
}