* {
	padding: none;
	margin: none;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	text-align: center;
	font-family: 'Roboto';
}

/* .container {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
} */

.header {
	padding: 20px;
	font-size: 7rem;
	font-family: 'Bebas Neue';
	height: 160px;
	text-align: center;
	background: linear-gradient(0deg, #ffffff 33.76%, rgba(255, 255, 255, 0) 321.1%),
		linear-gradient(90deg, #2d9cdb 0%, #eb5757 100%);
	mix-blend-mode: multiply;
}

.title-vs {
	font-family: 'Bebas Neue';
	font-size: 3rem;
}

.title-messi {
	color: #2d9cdb;
}

.title-ronaldo {
	color: #eb5757;
}

.nav-bar {
	height: 60px;
	width: 40%;
	margin: 0 auto;
	text-align: center;
	/* padding: 0 20%; */
	display: flex;
	justify-content: center;
	align-items: center;
}

input[type="radio"] {
	font-family: 'Roboto', sans-serif;
	opacity: 0;
	position: fixed;
	width: 0;
	margin: 0;
	padding: 0;
}

.league-wrapper {
	display: flex;
	margin-right: 60px;
	/* padding-right: 60px; */
}

.stats-wrapper {
	display: flex;
}

.league-wrapper label,
.stats-wrapper label {
	background-color: rgb(255, 255, 255);
	padding: 5px 20px;
	font-family: sans-serif, Arial;
	font-size: 14px;
	/* border: 1px solid #888; */
}

input[type="radio"] label:hover {
	background-color: #dfd;
}

input[type="radio"]:checked + label {
	background-color: #666;
	border-color: #666;
	color: white;
}

.btn-stats-1 {
	border-radius: 4px 0px 0px 4px;
	border: 1px solid #666;
}

.btn-league-2 {
	border-radius: 0px 4px 4px 0px;
	border-top: 1px solid #666;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
}

.btn-league-1 {
	border-radius: 4px 0px 0px 4px;
	border: 1px solid #666;
}

.btn-stats-3 {
	border-radius: 0px 4px 4px 0px;
	border: 1px solid #666;
}

.btn-stats-2 {
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
	border-left: none;
	border-right: none;
}

svg {
	/* background: lightcyan; */
}

.bands {
	fill: #abdaf5;
}

.m-dots {
	fill: #2d9cdb;
}

.r-dots {
	fill: #eb5757;
}

#wrapper {
	margin-top: 40px;
}

.band-r-lead {
	fill: #f7c6c6;
}

.band-m-lead {
	fill: #c4e3f5;
}

.y-axis path,
.y-axis line {
	stroke: none;
}

.y-axis {
	font-size: 16px;
	font-family: 'Roboto';
	font-weight: 600;
	color: #666;
}

.x-axis path {
	stroke: none;
}

.x-axis .tick line {
	stroke: #aaa;
	stroke-width: 0.5px;
	stroke-dasharray: 2px;
	shape-rendering: crispEdges;
}

.x-axis .tick text {
	font-family: 'Roboto';
	font-weight: 100;
	font-size: 14px;
	color: rgb(130, 130, 130);
}

.footer {
	font-family: 'Roboto';
	font-size: 12px;
	color: #666;
}

.footer-sep {
	margin: 0 20px;
}
